# OpenAI 配置
OPENAI_API_KEY=openai-api-key
OPENAI_BASE_URL=openai-base-url
OPENAI_MODEL_NAME=openai-model-name
OPENAI_EMBEDDING_MODEL_NAME=openai-embedding-model-name
OPENAI_MAX_OUTPUT_TOKENS=4000

# RAG 配置
RAG_ENABLED=true
RAG_CHROMA_DIR=./chroma_db
RAG_COLLECTION_NAME=travel_docs
RAG_TOP_K=5
RAG_CITY_METADATA_KEY=source_city

# Checkpoint 配置（默认使用内存，可选 memory | sqlite | postgres）
CHECKPOINT_TYPE=sqlite
SQLITE_DB_PATH=./checkpoints.db
POSTGRES_CONN_STRING=postgresql://user:password@localhost:5432/dbname

# Java 服务工具接口
# 请启动 https://github.com/1937983507/ai-tourism-backend 后端项目
JAVA_SERVICE_URL=http://localhost:8290
JAVA_SERVICE_INTERNAL_TOKEN=your_internal_token

# 本Agent服务配置
AGENT_PORT=8291
AGENT_HOST=0.0.0.0

# 天气 API 配置
# 天气服务提供商: "openweathermap" 或 "qweather" (和风天气)
WEATHER_PROVIDER=qweather

# Open Weather API Key（当WEATHER_PROVIDER=openweathermap 时需要配置）
# 申请地址：http://api.openweathermap.org

OPENWEATHER_API_KEY=your_openweather_api_key_here
# 和风天气的各项配置 (当 WEATHER_PROVIDER=qweather 时需要配置)
# 申请地址: https://dev.qweather.com/
QWEATHER_API_HOST=your_qweather_api_host
QWEATHER_JWT_PROJECT_ID=your_qweather_jwt_project_id
QWEATHER_JWT_KEY_ID=your_qweather_jwt_key_id
QWEATHER_JWT_PRIVATE_KEY_PATH=./secrets/your_qweather_qweather_jwt_private_key_path

# 日志配置
LOG_LEVEL=INFO
LOG_DIR=./logs
LOG_RETENTION_DAYS=7
LOG_ROTATION=00:00
LOG_ENCODING=utf-8

# LangSmith 配置
# 是否启动 LangSmith 监测
LANGSMITH_ENABLED=true
# API Key 在 https://smith.langchain.com/ 申请
LANGSMITH_ENABLED=true
LANGSMITH_API_KEY="xxx"
LANGSMITH_PROJECT=ai-tourism-agent
LANGSMITH_WORKSPACE_ID="Workspace 1"